footer 
    div.toplinks 
        a(href=baseURL)
            img#footerlogo.logo(src=baseURL+"static/img/mesh-festival1.png")
        ul 
            each val in footer[languageParameter].Top_Links
                li
                    a.mediumpill(href=baseURL+val.URL)= val.Title
    div.left
        div.smicons
            a(href="https://www.instagram.com/meshfestival/",target="_blank").nohover
                img(src=baseURL+"static/img/icons/sm-icon-02.svg")
            a(href="https://www.linkedin.com/company/meshfestival/",target="_blank").nohover
                img(src=baseURL+"static/img/icons/sm-icon-01.svg")
            a(href="https://www.facebook.com/meshfestival/",target="_blank").nohover
                img(src=baseURL+"static/img/icons/sm-icon-03.svg")
        div 
            ul 
                each val in footer[languageParameter].Second_Links
                    li
                        a.mediumpill(href=baseURL+val.URL)= val.Title
                li
                    a.mediumpill(href="#",onclick="showNewsletter()").nohover Newsletter

        div 
            ul.smalllinks
                each val in footer[languageParameter].Small_Links
                    li
                        a(href=baseURL+val.URL).nohover= val.Title

    div.adresse 
        p !{footer[languageParameter].Adress}
        
    div.middle
        div
            p !{footer[languageParameter].Title_Logo_Line_1}
            a(href='https://hek.ch/',target='_blank')
                img(src=baseURL+'static/img/hek.svg').logofooter
            a(href='https://iart.ch/',target='_blank')
                img(src=baseURL+'static/img/iart.svg').logofooter
            a(href='https://www.fhnw.ch/de/die-fhnw/hochschulen/hgk',target='_blank')
                img(src=baseURL+'static/img/FHNW_HGK_DE.svg').logofooter                
        div 
            p !{footer[languageParameter].Title_Logo_Line_2}
            a(href="http://www.swisslosfonds.bs.ch/",target="_blank")
                img(src=baseURL+"static/img/swisslos-bs.svg").logofooter  
            a(href="https://www.baselland.ch/politik-und-behorden/direktionen/sicherheitsdirektion/swisslos-fonds",target="_blank")
                img(src=baseURL+"static/img/swisslos-bl.svg").logofooter  
            a(href="https://www.cms-basel.ch/",target="_blank")
                img(src=baseURL+"static/img/cms.svg").logofooter  
            a(href="https://www.mobiliar.ch/",target="_blank")
                img(src=baseURL+"static/img/MOB_d_RGB_weiss.svg").logofooter  
            a(href="https://www.kbhg.ch/",target="_blank")
                img(src=baseURL+"static/img/kbhg.svg").logofooter  
        div 
            p !{footer[languageParameter].Title_Logo_Line_3}
            a(href="https://www.musik-akademie.ch/klassik/de/projekte-und-ensembles/elektronisches-studio-basel.html",target="_blank")
                img(src=baseURL+"static/img/elektronisches-studio-basel.svg").logofooter.logofooterlang
            a(href="https://radiox.ch/",target="_blank")
                img(src=baseURL+"static/img/radio-x.svg").logofooter  
            a(href="https://derivative.ca/",target="_blank")
                img(src=baseURL+"static/img/touchdesigner.svg").logofooter  
        div 
            p !{footer[languageParameter].Title_Logo_Line_4}            
            a(href="https://kunsthausbaselland.ch/",target="_blank")
                img(src=baseURL+"static/img/kunsthaus-baselland.svg").logofooter.logofooterlang  
            a(href="https://www.herzogdemeuron.com/",target="_blank")
                img(src=baseURL+"static/img/herzogdemeuron.svg").logofooter.logofooterlang                 
    script(src=baseURL+'static/script/main.js')
