#ticketshop
#ticketclose(onclick="openticket('!{data.Ticketlink}')")
#newsletterClose(onclick="closeNewsletter()")
#newsletterBox <div id="mc_embed_shell"><div id="mc_embed_signup"><form action="https://meshfestival.us9.list-manage.com/subscribe/post?u=559479f5c526b5d3100a3b277&amp;id=8a5c55bc1a&amp;f_id=00691ee1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"><div id="mc_embed_signup_scroll"><div class="indicates-required"></div><div class="mc-field-group"><label for="mce-EMAIL">E-Mail<span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div><div class="mc-field-group"><label for="mce-FNAME">Vorname</label><input type="text" name="FNAME" class="text" id="mce-FNAME" value=""></div><div class="mc-field-group"><label for="mce-LNAME">Nachname</label><input type="text" name="LNAME" class="text" id="mce-LNAME" value=""></div><div id="mce-responses" class="clear foot"><div class="response" id="mce-error-response" style="display:none"></div><div class="response" id="mce-success-response" style="display:none"></div></div><div aria-hidden="true" style="position:absolute;left:-5000px">/* real people should not fill this in and expect good things - do not remove this or risk form bot signups */ <input type="text" name="b_559479f5c526b5d3100a3b277_8a5c55bc1a" tabindex="-1" value=""></div><div class="optionalParent"><div class="clear foot"><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe"><p style="margin:0 auto;display:none;"><a href="http://eepurl.com/iDa5fs" title="Mailchimp – Einfaches, schnelles E-Mail-Marketing"><span style="display:inline-block;background-color:transparent;border-radius:4px"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width:220px;height:40px;display:flex;padding:2px 0;justify-content:center;align-items:center"></span></a></p></div></div></div></form></div></div>
    script.
        function closeNewsletter(){
            $('#newsletterBox').fadeOut();
            $('#newsletterClose').fadeOut();
        }
        function showNewsletter(){
            $('#newsletterBox').fadeIn();
            $('#newsletterClose').fadeIn();
        }
footer 
    div.toplinks 
        a(href=baseURL)
            img#footerlogo.logo(src=baseURL+"static/img/mesh-festival1.png",loading="lazy")
        ul 
            each val in footer[languageParameter].Top_Links
                li
                    a.mediumpill(href=baseURL+val.URL)= val.Title
    div.left
        div.smicons
            a(href="https://www.instagram.com/meshfestival/",target="_blank").nohover
                img(src=baseURL+"static/img/icons/sm-icon-02.svg")
            a(href="https://www.linkedin.com/company/meshfestival/",target="_blank").nohover
                img(src=baseURL+"static/img/icons/sm-icon-01.svg")
            a(href="https://www.facebook.com/meshfestival/",target="_blank").nohover
                img(src=baseURL+"static/img/icons/sm-icon-03.svg")
        div 
            ul 
                each val in footer[languageParameter].Second_Links
                    li
                        a.mediumpill(href=baseURL+val.URL+'/'+language[0])= val.Title
                li
                    a.mediumpill(href="#",onclick="showNewsletter()").nohover Newsletter

        div 
            ul.smalllinks
                each val in footer[languageParameter].Small_Links
                    li
                        a(href=baseURL+val.URL+'/'+language[0]).nohover= val.Title

    div.adresse 
        p !{footer[languageParameter].Adress}
        
    div.middle
        div
            p !{footer[languageParameter].Title_Logo_Line_1}
            a(href='https://hek.ch/',target='_blank')
                img(src=baseURL+'static/img/hek.svg').logofooter
            a(href='https://iart.ch/',target='_blank')
                img(src=baseURL+'static/img/iart.svg').logofooter
            a(href='https://www.fhnw.ch/de/die-fhnw/hochschulen/hgk',target='_blank')
                img(src=baseURL+'static/img/FHNW_HGK_DE.svg').logofooter                
        div 
            p !{footer[languageParameter].Title_Logo_Line_2}
            a(href="http://www.swisslosfonds.bs.ch/",target="_blank")
                img(src=baseURL+"static/img/swisslos-bs.svg").logofooter  
            a(href="https://www.baselland.ch/politik-und-behorden/direktionen/sicherheitsdirektion/swisslos-fonds",target="_blank")
                img(src=baseURL+"static/img/swisslos-bl.svg").logofooter  
            a(href="https://www.cms-basel.ch/",target="_blank")
                img(src=baseURL+"static/img/cms.svg").logofooter  
            a(href="https://www.ernst-goehner-stiftung.ch",target="_blank")
                img(src=baseURL+"static/img/EGS_Schriftzug_2_weiss.svg").logofooter  
            a(href="https://prohelvetia.ch/",target="_blank")
                img(src=baseURL+"static/img/PRH_CD_RGB_white_DE_LOGO.svg").logofooter     
            a(href="https://www.mobiliar.ch/",target="_blank")
                img(src=baseURL+"static/img/MOB_d_RGB_weiss.svg").logofooter  
            a(href="https://www.kbhg.ch/",target="_blank")
                img(src=baseURL+"static/img/kbhg.svg").logofooter  
        div 
            p !{footer[languageParameter].Title_Logo_Line_3}
            a(href="https://www.musik-akademie.ch/klassik/de/projekte-und-ensembles/elektronisches-studio-basel.html",target="_blank")
                img(src=baseURL+"static/img/elektronisches-studio-basel.svg").logofooter.logofooterlang
            a(href="https://radiox.ch/",target="_blank")
                img(src=baseURL+"static/img/radio-x.svg").logofooter  
            a(href="https://derivative.ca/",target="_blank")
                img(src=baseURL+"static/img/touchdesigner.svg").logofooter  
        div 
            p !{footer[languageParameter].Title_Logo_Line_4}            
            a(href="https://kunsthausbaselland.ch/",target="_blank")
                img(src=baseURL+"static/img/kunsthaus-baselland.svg").logofooter.logofooterlang  
 
            a(href="https://ateliermondial.com/",target="_blank")
                img(src=baseURL+"static/img/AMLOGO_Size0_BLACK_Outline.svg",loading="lazy").logofooter.logofootersquare 
            a(href="https://kabinett.com/",target="_blank")
                img(src=baseURL+"static/img/KABINETT_LOGO_V-1.svg",loading="lazy").logofooter.logofootersquare 
            a(href="https://www.herzogdemeuron.com/",target="_blank")
                img(src=baseURL+"static/img/herzogdemeuron.svg").logofooter.logofooterlang
            a(href="https://www.sfgbasel.ch/",target="_blank")
                img(src=baseURL+"static/img/sfg_zentriert.svg",loading="lazy").logofooter.logofootersquare                                 
            a(href="https://civic.hgk.fhnw.ch/",target="_blank")
                img(src=baseURL+"static/img/CIVIC-LOGO-WHITE.png",loading="lazy").logofooter

    script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js" crossorigin="anonymous")
    script(src="https://embed.ticketpark.ch/v1/")                
    script(src=baseURL+'static/script/main.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js')
    script(src=baseURL+'static/script/socket.js')

    script(src='node_modules/@glidejs/glide/dist/glide.min.js')
    link(rel='stylesheet', type='text/css', href=baseURL+'node_modules/@glidejs/glide/dist/css/glide.core.min.css')
    script(src=baseURL+'static/script/highlights.js')

    script(src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
    script.
        jQuery,window.fnames=new Array,window.ftypes=new Array,fnames[0]="EMAIL",ftypes[0]="email",fnames[1]="FNAME",ftypes[1]="text",fnames[2]="LNAME",ftypes[2]="text",fnames[3]="ADDRESS",ftypes[3]="address",fnames[4]="PHONE",ftypes[4]="phone",fnames[5]="BIRTHDAY",ftypes[5]="birthday";var $mcj=jQuery.noConflict(!0)