
.glide
    .glide__track(data-glide-el='track')
        ul.glide__slides
            each val in highlights
                if(val.translations[languageParameter].Link !== null)
                    if(val.translations[languageParameter].Link.indexOf('http') !== -1)
                        - var link = val.translations[languageParameter].Link
                        - var target = '_blank'
                    else
                        - var link = baseURL+val.translations[languageParameter].Link
                        - var target = '_self'
                else
                    - var link = ''
                    - var target = '_self'
                li.glide__slide
                    if(val.status == "published")
                        if(val.Link !== undefined)
                            if(val.translations[languageParameter] === undefined)
                                .title
                                    a(href=link, target=target, title=val.translations[0].Title)=val.translations[0].Title
                                .content
                                    a(href=link, target=target, title=val.translations[0].Title) !{val.translations[0].Content}
                            else 
                                .title
                                    a(href=link, target=target, title=val.translations[languageParameter].Title)=val.translations[languageParameter].Title
                                .content
                                    a(href=link, target=target, title=val.translations[languageParameter].Title) !{val.translations[languageParameter].Content}                        
                        else
                            if(val.translations[languageParameter] === undefined)
                                .title=val.translations[0].Title
                                .content !{val.translations[0].Content}
                            else
                                .title=val.translations[languageParameter].Title
                                .content !{val.translations[languageParameter].Content}
                                
    .glide__bullets(data-glide-el='controls[nav]')
        - var n = 0
        each val in highlights
            if(val.status == "published")
                button.glide__bullet(data-glide-dir='='+n)
                - n++
//.glideclose(onclick="closeHighlight();")