nav
    a(href=baseURL)
        img#headerlogo.logo(src=baseURL+'static/img/mesh-festival1_top.png',loading="lazy")
    ul
        each val in navigation[languageParameter].Menu
            li.navigation
                a(href=baseURL+'pages/'+val.URL+'/'+language[0])= val.Title
              

        if(language[0] == 'de')
            li.navigation.navigationMobile
                a(href=baseURL+'timetable/de') Program
            li.navigation.navigationMobile
                a(href=baseURL+'artists/de') Artists 
        else 
            li.navigation.navigationMobile
                a(href=baseURL+'timetable/en') Programme
            li.navigation.navigationMobile
                a(href=baseURL+'artists/en') Artists   

        li.navigation.navigationMobile
            a(href=baseURL+'pages/visit/'+language[0]) Visit
        li.navigation.navigationMobile
            a(href=baseURL+'pages/about/'+language[0]) About

    .languages
        if(data.pathname == '' || data.pathname == '/' )
            li.smallpill
                a(href=baseURL+data.pathname+'de').
                    DE
            li.smallpill
                a(href=baseURL+data.pathname+'en').
                    EN   
        else
            li.smallpill
                a(href=baseURL+data.pathname+'/de').
                    DE
            li.smallpill
                a(href=baseURL+data.pathname+'/en').
                    EN    
    .navBottom 
        .left 
            if(language[0] == 'de')
                .navSub
                    a(href=baseURL+'timetable/de') Program
                .navSub
                    a(href=baseURL+'artists/de') Artists 
            else 
                .navSub
                    a(href=baseURL+'timetable/en') Programme
                .navSub
                    a(href=baseURL+'artists/en') Artists             
        .middle 
            a(href='https://www.instagram.com/meshfestival/',target="_blank")
                svg#Instagram(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1024 1024')
                    defs
                    path.cls-1(d='m1006.3,510.23c0,273.97-222.1,496.07-496.06,496.07S14.17,784.2,14.17,510.23,236.27,14.17,510.24,14.17s496.06,222.1,496.06,496.05Z')
                    g
                        path.cls-1(d='m510.75,285.5c76.57,0,85.65.29,115.89,1.66,27.96,1.28,43.14,5.96,53.25,9.88,13.39,5.21,22.93,11.42,32.97,21.46,10.04,10.03,16.26,19.58,21.45,32.97,3.92,10.12,8.6,25.3,9.87,53.26,1.38,30.24,1.67,39.31,1.67,115.9s-.29,85.65-1.67,115.89c-1.27,27.96-5.95,43.14-9.87,53.25-5.2,13.4-11.41,22.94-21.45,32.97-10.04,10.04-19.58,16.26-32.97,21.46-10.11,3.92-25.29,8.59-53.25,9.88-30.24,1.37-39.31,1.66-115.89,1.66s-85.66-.3-115.9-1.66c-27.96-1.29-43.15-5.96-53.25-9.88-13.39-5.21-22.93-11.42-32.96-21.46-10.05-10.02-16.27-19.57-21.46-32.97-3.93-10.12-8.6-25.3-9.89-53.25-1.38-30.24-1.67-39.31-1.67-115.89s.29-85.66,1.67-115.9c1.29-27.96,5.96-43.14,9.89-53.26,5.19-13.39,11.41-22.94,21.46-32.97,10.02-10.04,19.57-16.25,32.96-21.46,10.11-3.92,25.29-8.6,53.25-9.88,30.24-1.38,39.32-1.66,115.9-1.66m0-51.67c-77.89,0-87.66.32-118.24,1.72-30.53,1.39-51.39,6.24-69.63,13.33-18.85,7.32-34.85,17.13-50.79,33.08-15.94,15.94-25.76,31.94-33.08,50.8-7.09,18.24-11.95,39.09-13.32,69.61-1.41,30.6-1.74,40.36-1.74,118.25s.33,87.65,1.74,118.24c1.38,30.52,6.24,51.37,13.32,69.61,7.33,18.87,17.14,34.86,33.08,50.8,15.94,15.95,31.94,25.76,50.79,33.08,18.24,7.09,39.11,11.93,69.63,13.32,30.58,1.41,40.35,1.73,118.24,1.73s87.66-.32,118.25-1.73c30.52-1.39,51.37-6.24,69.62-13.32,18.86-7.32,34.86-17.13,50.8-33.08,15.94-15.94,25.75-31.93,33.07-50.8,7.1-18.24,11.94-39.09,13.33-69.61,1.4-30.59,1.73-40.36,1.73-118.24s-.33-87.66-1.73-118.25c-1.39-30.52-6.23-51.37-13.33-69.61-7.32-18.86-17.13-34.86-33.07-50.8-15.94-15.95-31.94-25.77-50.8-33.08-18.25-7.09-39.1-11.94-69.62-13.33-30.59-1.4-40.36-1.72-118.25-1.72')
                        path.cls-1(d='m510.75,373.36c-81.35,0-147.28,65.92-147.28,147.27s65.93,147.27,147.28,147.27,147.27-65.92,147.27-147.27-65.93-147.27-147.27-147.27m0,242.87c-52.8,0-95.61-42.81-95.61-95.6s42.81-95.6,95.61-95.6,95.6,42.8,95.6,95.6-42.8,95.6-95.6,95.6')
                        path.cls-1(d='m698.26,367.53c0,19.01-15.41,34.41-34.42,34.41s-34.42-15.4-34.42-34.41,15.42-34.43,34.42-34.43,34.42,15.42,34.42,34.43')
            a(href='https://www.linkedin.com/company/meshfestival',target="_blank")
                //img(src=baseURL+"static/img/icons/sm-icon-01.svg")
                svg#Linkedin(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1024 1024')
                    defs
                    g#Background
                        circle#bg.cls-1(cx='510.24' cy='510.24' r='496.06')
                    g#Linkedin-2(data-name='Linkedin')
                        polygon.cls-1(points='289.03 724.08 392.02 724.08 391.9 363.23 288.91 363.23 289.03 724.08')
                        path.cls-1(d='m747.24,459.77c-2.52-14.36-6.61-28.5-12.88-41.69-3.62-7.62-8.18-14.82-13.58-21.31-6.31-7.57-14.7-14.54-23.22-19.5-7.3-4.25-15.62-8.11-23.77-10.42-4.83-1.23-9.79-2.08-14.82-2.65-15.11-1.7-30.86-.88-46,.29-4.35.51-8.66,1.12-12.94,1.85-4.28.73-8.51,1.59-12.7,2.55-7.38,2.28-13.81,5.86-19.29,10.57-5.49,4.71-10.04,10.54-13.7,17.28-2.1,3.87-3.92,7.96-5.1,12.21-.06.22-.91,5.25-.91,5.25h-1.6l-.13-50.98h-102.95l.12,360.93h102.27v-220.02c0-12.3,7.9-22.55,18.04-28.7,9.83-5.96,21.98-6.5,33.16-7.22,5.1-.33,10.41-.16,15.49.36,8.82.91,17.71,3.7,24.3,9.87,11.01,10.3,12.72,26,12.72,40.23v205.49h101.31v-213.37c0-17.01-.87-34.24-3.82-51.02Z')
                        circle.cls-1(cx='340.53' cy='287.31' r='51.74')

            a(href='https://www.facebook.com/meshfestival/',target="_blank")
                svg#Facebook(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1024 1024')
                    defs
                    path.cls-1(d='m1006.3,510.22c0,273.97-222.1,496.07-496.07,496.07S14.17,784.19,14.17,510.22,236.28,14.17,510.23,14.17s496.07,222.1,496.07,496.05Z')
                    path.cls-1(d='m430.28,836.64h127.32v-318.85h88.83l9.48-106.76h-98.31v-60.8c0-25.17,5.06-35.13,29.4-35.13h68.91v-110.79h-88.16c-94.75,0-137.46,41.73-137.46,121.61v85.12h-66.24v108.1h66.24v317.51Z')

                
                        
        .right            
            .navSub
                a(href=baseURL+'pages/visit/'+language[0]) Visit
            .navSub
                a(href=baseURL+'pages/about/'+language[0]) About

#navButtonClose(onclick="toggleNav()")
    //img(src=baseURL+"static/img/close.svg")
    svg#Ebene_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 97.4 97.4' style='enable-background:new 0 0 97.4 97.4;' xml:space='preserve')
        rect.st0(x='44.4' y='-15.9' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -20.2077 48.6849)' width='8.5' height='129.2')
        rect.st0(x='-15.9' y='44.4' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -20.1577 48.6642)' width='129.2' height='8.5')

#navButton(onclick="toggleNav()")
    //img(src=baseURL+"static/img/hamburger.svg")
    svg#Ebene_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 97.4 97.4' style='enable-background:new 0 0 97.4 97.4;' xml:space='preserve')
        rect.st1(y='0' width='97.4' height='8.5')
        rect.st1(y='44.4' width='97.4' height='8.5')
        rect.st1(y='88.9' width='97.4' height='8.5')

    script.
        function toggleNav(){
            $('nav').toggleClass('open');
            $('#navButtonClose').toggle();
            $('#navButton').toggle();
        }
        $(window).keydown(function(){
            var x = event.keyCode;
            if (x == 27) {
                $('#navButtonClose').hide();
                $('#navButton').hide();
                $('nav').removeClass('open');
                closeNewsletter();
            }
        });
