img#hamburger(src=baseURL+"static/img/hamburger.svg",onclick="toggleNav()")
nav#startpageNav
    a.bubble(href=baseURL) Was
    a.bubble(href=baseURL+'timetable') Wann
    a.bubble(href=baseURL+'artists/') Wer
    a.bubble(href=baseURL+'pages/visit/') Wo
    a.bubble(href=baseURL+'pages/about/de') Wie
