doctype html
html(lang=language[0])
    include includes/head.pug
    script(src=baseURL+"static/script/artists.js")

    body.artists
        include includes/navigation.pug
        - var char = ''
        - var formats = ['konferenz','diskurs','ausstellungen','performances','screenings','clubnights'];
        - var formatsTranslation = {ausstellungen: ['Ausstellungen','Exhibtions'], konferenz: ['Konferenz','Conference'],performances: ['Performances','Performances'],  diskurs: ['Talks & Panels','Talks & Panels'], screenings: ['Screenings','Screenings'], clubnights: ['Club Nights','Club Nights']};
        #filters 
            .mediumpill.active#filterAll(onclick="filterTimetableAll()",data-all='1')='All'
            each format in formats
                .mediumpill.filterpill(onclick="filterTimetable('"+format+"',$(this))",data-visible=1,id="filter-"+format)=formatsTranslation[format][languageParameter]
            
            .mediumpill.active#filtermap(onclick="$('#map').toggle();")='Map'
        #map 
            img(src=imgURL+"5850ee5c-5b08-4fe4-ad9b-186dcf9044ab.png",onclick="$('#map').hide();")
            
        main
            each event in events 
                if(char !== event.Name.substr(0,1).toUpperCase())
                    h3.char=event.Name.substr(0,1)
                a(href=baseURL+'events/'+event.slug+'/'+language[0],class=event.Format).artistLine
                    .artist
                        .left
                        .middle
                            h3=event.First_Name+' '+event.Name
                        .right 
                            if(formatsTranslation[event.Format] !== undefined)
                                h4.format=formatsTranslation[event.Format][languageParameter]
                            if(event.Venues.length > 0)
                                if(venues[event.Venues[0].Venues_id-1] !== undefined)
                                    h4.venue=venues[event.Venues[0].Venues_id-1].Name
                - char = event.Name.substr(0,1).toUpperCase()

        include includes/footer.pug