doctype html
html(lang=language[0])
    include includes/head.pug
    body.page.event
        include includes/navigation.pug

        .breadcrumb.mediumpill
            a(href=baseURL+'pages/'+data.Format)= data.formatTranslation[languageParameter]

        main
            if data.Main_Image == null
                img.mainimage(src=imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png')
            else 
                picture
                    source(media="min-width:650px",srcset=imgURL+data.Main_Image.filename_disk+'?key=content')
                    img.mainimage(src=imgURL+data.Main_Image.filename_disk+'?key=fullscreen', alt=+data.Main_Image.title)
                .mainimageCaption !{data.Main_Image.description}
                
            img.grid(src=baseURL+'static/img/grid1.png', alt='Mesh Festival')
            img.grid#gridRight(src=baseURL+'static/img/grid.png', alt='Mesh Festival')
            h1= data.Artist
            h3= data.translations[languageParameter].Title

            .eventHeader 
                .eventHeaderColumn
                    if data.translations[languageParameter].Time_frontend !== null
                        p !{data.translations[languageParameter].Time_frontend.replace(/\n/g, '<br/>')}
                    if data.Display_Time
                        if(languageParameter == 0)
                            if(data.time_transformed_de !== undefined)
                                p= data.time_transformed_de.start
                        else
                            p= data.time_transformed.start
                    
                    if data.Venues.length > 0
                        p= data.Venues[0].Venues_id.Name
                    p= data.translations[languageParameter].Price
                
                .eventHeaderColumn
                    if data.translations[languageParameter].Seats_available !== ''
                        p= data.translations[languageParameter].Seats_available
                    p= data.translations[languageParameter].Audience
                    p= data.translations[languageParameter].Language
                    if data.Ticketlink !== null
                        if data.Format == 'konferenz'
                            #ticketlink(onclick='openticket("'+data.Ticketlink+'","show",false);').smallpill Buy Conference Ticket
                        else if data.Format == 'ausstellungen'
                            #ticketlink(onclick='openticket("'+data.Ticketlink+'","auto",true);').smallpill Get Ticket
                        else
                            #ticketlink(onclick='openticket("'+data.Ticketlink+'","show",true);').smallpill Buy Day Pass
                            a(href=baseURL+'pages/tickets')
                                #ticketlink2.smallpill Buy Festival Pass



            if data.translations.length > 0
                .lead !{data.translations[languageParameter].Lead}
                .content !{data.translations[languageParameter].Content}


        script.
            $( document ).ready(function() {
                $( "video" ).each(function( index ) {
                    $(this).attr('playsinline','true');
                    $(this).attr('preload','metadata');
                });

                isOverflown();

                    setTimeout(() => {
                        $("html, body").animate({ scrollTop: $(window).outerHeight()*0.4 },1000);
                    }, 200);

            });
        include includes/footer.pug