html(lang=language[0])
    include includes/head.pug
    body.page
        include includes/navigation.pug

        main
            if data.Main_Image == null
                img.mainimage(src=imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png')
            else 
                //img.mainimage(src=imgURL+data.Main_Image.filename_disk+'?key=fullscreen')
                picture
                    source(media="min-width:650px",srcset=imgURL+data.Main_Image.filename_disk+'?key=content')
                    img.mainimage(src=imgURL+data.Main_Image.filename_disk+'?key=fullscreen')
                .mainimageCaption !{data.Main_Image.description}
                
            img.grid(src=baseURL+'static/img/grid.svg')
            if data.translations.length > 0
                if(data.translations[languageParameter] === undefined)
                    h1= data.translations[0].Title
                    .content !{data.translations[0].Content}
                else
                    h1= data.translations[languageParameter].Title
                    .content !{data.translations[languageParameter].Content}

            if data.Events.length > 0
                .eventswrapper
                    each val in data.Events
                        - var caption =val.Events_id.Artist

                        a(href=baseURL+'events/'+val.Events_id.slug+'/'+language[0])
                            .events
                                .eventimg(style='background-image:url('+imgURL+val.Events_id.Main_Image+'?key=icon)')
                                    img(src=baseURL+'static/img/grid.svg')
                                .caption &bull; #{caption}
            script.
                $( document ).ready(function() {
                    isOverflown();
                }); 

        include includes/footer.pug