html(lang=language[0])
    include includes/head.pug
    body.startpage
        include includes/navigation.pug
        include includes/news.pug

        main
            - var n = 1
            - var z = -10
            each item in data.View
                section
                    video(id='video'+n,src=imgURL+item.Video_Id,muted='true',autoplay='true',loop='true',playsinline='true',style='z-index:'+z+';')
                    if(item.Show_Title)
                        a(href=baseURL+'pages/'+item.Title_Link+'/'+language[0])
                            .bigpill= item.Title_De
                            .caption= item.Caption_De
                    - n = n+1
                    - z = z+1

            script.
                var positions = [];
                var activeSection;
                var activeFilter1;

                $('main').on( "scroll", function() {    
                    $( "section" ).each(function( index ) {
                        positions[index] = $('body').scrollTop() - $( this ).position().top;
                        if(positions[index] > 0){
                            activeSection = index;
                            activeFilter1 = ((100 - (positions[index] / $('section').first().height() *100)) / 10)+1;
                            activeFilter2 = ((100 - (positions[index] / $('section').first().height() *100)) / 10)+1;
                            activeFilter3 = ((100 - (positions[index] / $('section').first().height() *100)) / 10)+1;
                        }
                    });

                    $('#video'+(activeSection+2)).css('display','block');                    
                    $('#video'+(activeSection+2)).css('filter','brightness('+activeFilter1+')');

                });

            <!-- Preview Installationen -->    
            .preview
                .left
                    h2=data.translations[languageParameter].Title
                    .
                        !{data.translations[languageParameter].Lead}
                .right 
                    .eventswrapper
                        each val in [0,1,2]
                            if(data.Events_1[val])
                                a(href=baseURL+'events/'+data.Events_1[val].Events_id.slug+'/'+language[0])
                                    .events
                                        if data.Events_1[val].Events_id.Main_Image == null
                                            .eventimg(style='background-image:url('+imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png)')
                                        else 
                                            - var caption =data.Events_1[val].Events_id.Artist
                                            .eventimg(style='background-image:url('+imgURL+data.Events_1[val].Events_id.Main_Image.filename_disk+')')
                                                img(src=baseURL+'static/img/grid.svg')
                                            .caption &bull; #{caption}
                    .previewItem 
                        .smallpill
                            - var title =data.translations[languageParameter].Title
                            if(language[0] == 'en' )
                                .
                                    More #{title}
                            else 
                                .
                                    Mehr #{title}     
                            
                            

            <!-- Preview Performances -->    
            .preview
                .left
                    h2=data.translations_performances[languageParameter].Title
                    .
                        !{data.translations_performances[languageParameter].Lead}
                .right 
                    .eventswrapper
                        each val in [0,1,2]
                            if(data.Events_2[val])
                                a(href=baseURL+'events/'+data.Events_2[val].Events_id.slug+'/'+language[0])
                                    .events
                                        if data.Events_2[val].Events_id.Main_Image == null
                                            .eventimg(style='background-image:url('+imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png)')
                                        else 
                                            - var caption =data.Events_2[val].Events_id.Artist
                                            .eventimg(style='background-image:url('+imgURL+data.Events_2[val].Events_id.Main_Image.filename_disk+')')
                                                img(src=baseURL+'static/img/grid.svg')
                                            .caption &bull; #{caption}

                    .previewItem 
                        .smallpill
                            - var title =data.translations_performances[languageParameter].Title
                            if(language[0] == 'en' )
                                .
                                    More #{title}
                            else 
                                .
                                    Mehr #{title}   




            <!-- Preview Screenings -->    
            .preview
                .left
                    h2=data.translations_screenings[languageParameter].Title
                    .
                        !{data.translations_screenings[languageParameter].Lead}
                .right 
                    .eventswrapper
                        each val in [0,1,2]
                            if(data.Events_3[val])
                                a(href=baseURL+'events/'+data.Events_3[val].Events_id.slug+'/'+language[0])
                                    .events
                                        if data.Events_3[val].Events_id.Main_Image == null
                                            .eventimg(style='background-image:url('+imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png)')
                                        else 
                                            - var caption =data.Events_3[val].Events_id.Artist
                                            .eventimg(style='background-image:url('+imgURL+data.Events_3[val].Events_id.Main_Image.filename_disk+')')
                                                img(src=baseURL+'static/img/grid.svg')
                                            .caption &bull; #{caption}

                    .previewItem 
                        .smallpill
                            - var title =data.translations_screenings[languageParameter].Title
                            if(language[0] == 'en' )
                                .
                                    More #{title}
                            else 
                                .
                                    Mehr #{title}   
            


            <!-- Preview Konferenz -->    
            .preview
                .left
                    h2=data.translations_conference[languageParameter].Title
                    .
                        !{data.translations_conference[languageParameter].Lead}
                .right 
                    .eventswrapper
                        each val in [0,1,2]
                            if(data.Events_4[val])
                                a(href=baseURL+'events/'+data.Events_4[val].Events_id.slug+'/'+language[0])
                                    .events
                                        if data.Events_4[val].Events_id.Main_Image == null
                                            .eventimg(style='background-image:url('+imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png)')
                                        else 
                                            - var caption =data.Events_4[val].Events_id.Artist
                                            .eventimg(style='background-image:url('+imgURL+data.Events_4[val].Events_id.Main_Image.filename_disk+')')
                                                img(src=baseURL+'static/img/grid.svg')
                                            .caption &bull; #{caption}

                    .previewItem 
                        .smallpill
                            - var title =data.translations_conference[languageParameter].Title
                            if(language[0] == 'en' )
                                .
                                    More #{title}
                            else 
                                .
                                    Mehr #{title}   
            

        include includes/footer.pug
