html(lang=language[0])
    include includes/head.pug
    body.startpage
        include includes/navigation.pug
        include includes/news.pug

        main
            - var n = 1
            - var z = -10
            each item in data.View
                section
                    video.videoDesk(id='video'+n,src=imgURL+item.Video_Id,muted='true',autoplay='true',loop='true',playsinline='true',style='z-index:'+z+';')
                    if(item.Video_Id_Mobile !== undefined)
                        video.videoMobile(src=imgURL+item.Video_Id_Mobile,muted='true',autoplay='true',loop='true',playsinline='true',style='z-index:'+z+';')
                    else
                        video.videoMobile(src=imgURL+item.Video_Id,muted='true',autoplay='true',loop='true',playsinline='true',style='z-index:'+z+';')

                    if(item.Show_Title)
                        a(href=baseURL+'pages/'+item.Title_Link+'/'+language[0])
                            if(languageParameter == 0)
                                .bigpill= item.Title_De
                                a(href=baseURL+item.Caption_Link)
                                    .mainimageCaption= item.Caption_De
                            else
                                .bigpill= item.Title_En
                                a(href=baseURL+item.Caption_Link)
                                    .mainimageCaption= item.Caption_En
                    - n = n+1
                    - z = z+1
            script(src=baseURL+'static/script/startpage-scroll.js')
            
            <!-- Preview Installationen -->    
            .preview
                .left
                    h2=data.translations[languageParameter].Title
                    .
                        !{data.translations[languageParameter].Lead}
                .right 
                    .eventswrapper
                        each val in [0,1,2]
                            if(data.Events_1[val].Events_id !== null)
                                a(href=baseURL+'events/'+data.Events_1[val].Events_id.slug+'/'+language[0]).eventLink
                                    .events
                                        if data.Events_1[val].Events_id.Main_Image == null
                                            .eventimg(style='background-image:url('+imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png)')
                                        else 
                                            - var caption =data.Events_1[val].Events_id.Artist
                                            .eventimg(style='background-image:url('+imgURL+data.Events_1[val].Events_id.Main_Image.filename_disk+')')
                                                img(src=baseURL+'static/img/grid.svg')
                                            .caption &bull; #{caption}
                        .previewItem 
                            .smallpill
                                - var title =data.translations[languageParameter].Title
                                a(href=baseURL+'pages/'+data.Events_1_Link)
                                    if(language[0] == 'en' )
                                        .
                                            More #{title}
                                    else 
                                        .
                                            Mehr #{title}     
                            
                            

            <!-- Preview Performances -->    
            .preview
                .left
                    h2=data.translations_performances[languageParameter].Title
                    .
                        !{data.translations_performances[languageParameter].Lead}
                .right 
                    .eventswrapper
                        each val in [0,1,2]
                            if(data.Events_2[val].Events_id !== null)
                                a(href=baseURL+'events/'+data.Events_2[val].Events_id.slug+'/'+language[0]).eventLink
                                    .events
                                        if data.Events_2[val].Events_id.Main_Image == null
                                            .eventimg(style='background-image:url('+imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png)')
                                        else 
                                            - var caption =data.Events_2[val].Events_id.Artist
                                            .eventimg(style='background-image:url('+imgURL+data.Events_2[val].Events_id.Main_Image.filename_disk+')')
                                                img(src=baseURL+'static/img/grid.svg')
                                            .caption &bull; #{caption}

                        .previewItem 
                            .smallpill
                                - var title =data.translations_performances[languageParameter].Title
                                a(href=baseURL+'pages/'+data.Events_2_Link)
                                    if(language[0] == 'en' )
                                        .
                                            More #{title}
                                    else 
                                        .
                                            Mehr #{title}   




            <!-- Preview Screenings -->    
            .preview
                .left
                    h2=data.translations_screenings[languageParameter].Title
                    .
                        !{data.translations_screenings[languageParameter].Lead}
                .right 
                    .eventswrapper
                        each val in [0,1,2]
                            if(data.Events_3[val].Events_id !== null)
                                a(href=baseURL+'events/'+data.Events_3[val].Events_id.slug+'/'+language[0]).eventLink
                                    .events
                                        if data.Events_3[val].Events_id.Main_Image == null
                                            .eventimg(style='background-image:url('+imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png)')
                                        else 
                                            - var caption =data.Events_3[val].Events_id.Artist
                                            .eventimg(style='background-image:url('+imgURL+data.Events_3[val].Events_id.Main_Image.filename_disk+')')
                                                img(src=baseURL+'static/img/grid.svg')
                                            .caption &bull; #{caption}

                        .previewItem 
                            .smallpill
                                - var title =data.translations_screenings[languageParameter].Title
                                a(href=baseURL+'pages/'+data.Events_3_Link)
                                    if(language[0] == 'en' )
                                        .
                                            More #{title}
                                    else 
                                        .
                                            Mehr #{title}   
            


            <!-- Preview Konferenz -->    
            .preview
                .left
                    h2=data.translations_conference[languageParameter].Title
                    .
                        !{data.translations_conference[languageParameter].Lead}
                .right 
                    .eventswrapper
                        each val in [0,1,]
                            if(data.Events_4[val].Events_id !== null)
                                a(href=baseURL+'events/'+data.Events_4[val].Events_id.slug+'/'+language[0]).eventLink
                                .events
                                    if data.Events_4[val].Events_id.Main_Image == null
                                        .eventimg(style='background-image:url('+imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png)')
                                    else 
                                        - var caption =data.Events_4[val].Events_id.Artist
                                        .eventimg(style='background-image:url('+imgURL+data.Events_4[val].Events_id.Main_Image.filename_disk+')')
                                            img(src=baseURL+'static/img/grid.svg')
                                        .caption &bull; #{caption}

                        .previewItem 
                            .smallpill
                                - var title =data.translations_conference[languageParameter].Title
                                a(href=baseURL+'pages/'+data.Events_4_Link)
                                    if(language[0] == 'en' )
                                        .
                                            More #{title}
                                    else 
                                        .
                                            Mehr #{title}   
            
        include includes/footer.pug