doctype html
html(lang=language[0])
    include includes/head.pug
    body.startpage
        include includes/sitenav.pug
        main
            a#mesh2024.bubble(href="https://2024.meshfestival.ch" target="_blank") Mesh 2024
            a#calltoaction.bubble(href="https://meshfestival.ch/static/html/tickets.html" target="_blank") Tickets


            .columnTitle
                h1 Mesh
                h4 Festival für Kunst und Technologie
                h2
                    | 16.–20.
                    br
                    | Oktober 2026
                h4.place Dreispitz Basel

            .columnVideo.mobile
                video.mobileVideo(data-src="https://johnsonkingston.ch/MESH/Mesh-2026-Querformat-2.mp4",autoplay="true",loop="true",muted="true",playsinline="true",poster="/static/img/mesh-festival-background.jpg")
                if data.translations && data.translations.length > 0
                    h2 Edition 2026
                    if(data.translations[languageParameter] === undefined)
                        h1= data.translations[0].Title
                        .content !{data.translations[0].Content}
                    else
                        h1= data.translations[languageParameter].Title
                        .content !{data.translations[languageParameter].Content}
            .columnTitleBottom
                h2
                    | 16.–20. 
                    span.right Oktober
                    br
                    | 2026
                h4 Festival für Kunst und Technologie
                h3 Dreispitz Basel
            div.column
                div#statementContent.statement.section
                    if data.translations && data.translations.length > 0
                        if(data.translations[languageParameter] === undefined)
                            h1= data.translations[0].Title
                            .content !{data.translations[0].Content}
                        else
                            h1= data.translations[languageParameter].Title
                            .content !{data.translations[languageParameter].Content}

                div

                    .logos
                        span Eine Initiative von
                        div.logobannerOuter
                            div.logobannerInner
                                a(href="https://www.hek.ch",target="_blank")
                                    img(src="/static/img/hek.svg")
                                a(href="https://iart.ch/",target="_blank")
                                    img(src="/static/img/iart.svg")
                                a(href="https://www.fhnw.ch/hgk",target="_blank")
                                    if(language[0] == 'en')
                                        img(src="/static/img/FHNW_HGK_EN.svg")
                                    else
                                        img(src="/static/img/FHNW_HGK_DE.svg")
                        br
            script.
                function videoLoad(){
                    $('.mobileVideo').attr('src',$('.mobileVideo').attr('data-src'));
                    $('.mobileVideo').attr('id','mainVideo');

                    var mainVideo = document.getElementById('mainVideo');
                    if (mainVideo) {
                        var resumeVideo = function(){
                            if (document.visibilityState === 'visible' && mainVideo.paused) {
                                mainVideo.play().catch(function(){});
                            }
                        };
                        mainVideo.addEventListener('pause', resumeVideo);
                        document.addEventListener('visibilitychange', resumeVideo);
                    }
                }
                videoLoad();
            include includes/footer.pug



            #cookieNotice.light.display-right(style='display: none;')
                #closeIcon(style='display: none;')
                .title-wrap
                    h4 Cookie Consent
                .content-wrap
                    .msg-wrap
                    p
                        | By continuing to browse this site, you agree to the use of cookies. We use cookies to analyse web traffic.
                        a(href='/static/html/datenschutz.html') Privacy Policy
                    .btn-wrap
                        button.btn-primary(onclick='acceptCookieConsent();') Accept

            script.
                var lang = '!{language[0].toUpperCase()}';

            script(src=baseURL+'static/script/main.js')
