html(lang=language[0])
    include includes/head.pug
    body.startpage
        include includes/navigation.pug
        //include includes/news.pug
        include includes/highlights.pug
        #instaButton.mediumpill
            a(href="https://www.instagram.com/meshfestival/",target="_blank",title="Mesh on Instagram") @meshfestival
        main
            - var n = 1
            - var z = -10
            each item in data.View
                section.nosnap(id='section'+n)

                    if(language[0] == 'en' && item.Video_Id_Mobile_En !== undefined)
                        if(item.Video_Id_Mobile !== undefined)
                            video.videoMobile(muted='true',poster=imgURL+item.Video_Cover_Mobile+'?key=icon',autoplay='true',loop='true',playsinline='true')
                                source(src=imgURL+item.Video_Id_Mobile_En,type="video/mp4") 
                        else
                            video.videoMobile(muted='true',poster=imgURL+item.Video_Cover+'?key=icon',autoplay='true',loop='true',playsinline='true')
                                source(src=imgURL+item.Video_Id_En,type="video/mp4") 

                    else 
                        if(item.Video_Id_Mobile !== undefined)
                            video.videoMobile(muted='true',poster=imgURL+item.Video_Cover_Mobile+'?key=icon',autoplay='true',loop='true',playsinline='true')
                                source(src=imgURL+item.Video_Id_Mobile,type="video/mp4") 
                        else
                            video.videoMobile(muted='true',poster=imgURL+item.Video_Cover+'?key=icon',autoplay='true',loop='true',playsinline='true')
                                source(srcimgURL+item.Video_Id,type="video/mp4") 

                    if(language[0] == 'en' && item.Video_Id_En !== undefined)
                        video.videoDesk(id='video'+n,src=imgURL+item.Video_Id_En,muted='true',poster=imgURL+item.Video_Cover+'?key=icon',autoplay='true',loop='true',playsinline='true',preload="auto",)
                    else 
                        video.videoDesk(id='video'+n,src=imgURL+item.Video_Id,muted='true',poster=imgURL+item.Video_Cover+'?key=icon',autoplay='true',loop='true',playsinline='true',preload="auto",)

                   

                    if(item.Show_Title)
                        a(href=baseURL+'pages/'+item.Title_Link+'/'+language[0],title=item.Title_De)
                            if(languageParameter == 0)
                                .bigpill= item.Title_De
                                a(href=baseURL+item.Caption_Link)
                                    .mainimageCaption= item.Caption_Desktop
                            else
                                .bigpill= item.Title_En
                                a(href=baseURL+item.Caption_Link,title=item.Title_En)
                                    .mainimageCaption= item.Caption_Desktop
                    else 
                        img.startimage.panicMode(src=imgURL+item.Video_Cover+'?key=fullscreen')
                        .bigpill.panicMode= 'Mesh'
                        .mediumpill.panicMode= 'Festival für Kunst und Technologie'
                        .mediumpill.panicMode= '16.–20. Oktober 2024'
                        .mediumpill.startspacer.panicMode= 'Freilager-Platz, Müchenstein / Basel'

                    //- if(n==1)

                    //-     #ticketButton.mediumpill
                    //-         a(href=baseURL+'pages/visit#tickets') Tickets
                    //-     #visitButton.mediumpill
                    //-         a(href=baseURL+'pages/visit/'+language[0]) Visit
                    //-     #aboutButton.mediumpill
                    //-         a(href=baseURL+'pages/about/'+language[0]) About
                    //-     #instaButton.mediumpill
                    //-         a(href="https://www.instagram.com/meshfestival/",target="_blank") @meshfestival

                    - n = n+1
                    - z = z+1

            <!-- Section 1 -->    
            .preview
                .left
                    h2=data.translations[languageParameter].Title
                    .
                        !{data.translations[languageParameter].Lead}
                .right 
                    .eventswrapper
                        each val in [0,1,2]
                            if(data.Events_1[val] !== undefined)
                                if(data.Events_1[val].Events_id.status == 'preview')
                                    a.eventLink
                                        .events
                                            - var caption =data.Events_1[val].Events_id.Artist
                                            .eventimg(style='background-image:url('+imgURL+data.Events_1[val].Events_id.Main_Image.filename_disk+'?key=icon)')
                                                img(src=baseURL+'static/img/grid.svg',alt="Mesh Festival für Kunst und Technologie")
                                            .caption &bull; #{caption}
                                else 
                                    a(href=baseURL+'events/'+data.Events_1[val].Events_id.slug+'/'+language[0], title=data.Events_1[val].Events_id.Artist).eventLink
                                        .events
                                            - var caption =data.Events_1[val].Events_id.Artist
                                            .eventimg(style='background-image:url('+imgURL+data.Events_1[val].Events_id.Main_Image.filename_disk+'?key=icon)')
                                                img(src=baseURL+'static/img/grid.svg',alt="Mesh Festival für Kunst und Technologie")
                                            .caption &bull; #{caption}

                        .previewItem 
                            .smallpill
                                - var title =data.translations[languageParameter].Title
                                a(href=baseURL+'pages/'+data.Events_1_Link, title=title)
                                    if(language[0] == 'en' )
                                        .
                                            More #{title}
                                    else 
                                        .
                                            Mehr #{title}     
                            
                            

            <!-- Section 2 -->    
            .preview
                .left
                    h2=data.translations_performances[languageParameter].Title
                    .
                        !{data.translations_performances[languageParameter].Lead}
                .right 
                    .eventswrapper
                        each val in [0,1,2]
                            if(data.Events_2[val] !== undefined)
                                if(data.Events_2[val].Events_id.status == 'preview')
                                    a.eventLink
                                        .events
                                            if data.Events_2[val].Events_id.Main_Image == null
                                                .eventimg(style='background-image:url('+imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png)')
                                            else 
                                                - var caption =data.Events_2[val].Events_id.Artist
                                                .eventimg(style='background-image:url('+imgURL+data.Events_2[val].Events_id.Main_Image.filename_disk+'?key=icon)')
                                                    img(src=baseURL+'static/img/grid.svg',alt="Mesh Festival für Kunst und Technologie")
                                                .caption &bull; #{caption}
                                else
                                    a(href=baseURL+'events/'+data.Events_2[val].Events_id.slug+'/'+language[0], title=data.Events_2[val].Events_id.Artist).eventLink
                                        .events
                                            if data.Events_2[val].Events_id.Main_Image == null
                                                .eventimg(style='background-image:url('+imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png)')
                                            else 
                                                - var caption =data.Events_2[val].Events_id.Artist
                                                .eventimg(style='background-image:url('+imgURL+data.Events_2[val].Events_id.Main_Image.filename_disk+'?key=icon)')
                                                    img(src=baseURL+'static/img/grid.svg',alt="Mesh Festival für Kunst und Technologie")
                                                .caption &bull; #{caption}                                

                        .previewItem 
                            .smallpill
                                - var title =data.translations_performances[languageParameter].Title
                                a(href=baseURL+'pages/'+data.Events_2_Link, title=title)
                                    if(language[0] == 'en' )
                                        .
                                            More #{title}
                                    else 
                                        .
                                            Mehr #{title}   




            <!-- Section 3 -->    
            .preview
                .left
                    h2=data.translations_screenings[languageParameter].Title
                    .
                        !{data.translations_screenings[languageParameter].Lead}
                .right 
                    .eventswrapper
                        each val in [0,1,2]
                            if(data.Events_3[val] !== undefined)
                                if(data.Events_3[val].Events_id.status == 'preview')
                                    a.eventLink
                                        .events
                                            if data.Events_3[val].Events_id.Main_Image == null
                                                .eventimg(style='background-image:url('+imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png)')
                                            else 
                                                - var caption =data.Events_3[val].Events_id.Artist
                                                .eventimg(style='background-image:url('+imgURL+data.Events_3[val].Events_id.Main_Image.filename_disk+'?key=icon)')
                                                    img(src=baseURL+'static/img/grid.svg',alt="Mesh Festival für Kunst und Technologie")
                                                .caption &bull; #{caption}
                                else 
                                    a(href=baseURL+'events/'+data.Events_3[val].Events_id.slug+'/'+language[0], title=data.Events_3[val].Events_id.Artist).eventLink
                                        .events
                                            if data.Events_3[val].Events_id.Main_Image == null
                                                .eventimg(style='background-image:url('+imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png)')
                                            else 
                                                - var caption =data.Events_3[val].Events_id.Artist
                                                .eventimg(style='background-image:url('+imgURL+data.Events_3[val].Events_id.Main_Image.filename_disk+'?key=icon)')
                                                    img(src=baseURL+'static/img/grid.svg',alt="Mesh Festival für Kunst und Technologie")
                                                .caption &bull; #{caption}
                        .previewItem 
                            .smallpill
                                - var title =data.translations_screenings[languageParameter].Title
                                a(href=baseURL+'pages/'+data.Events_3_Link, title=title)
                                    if(language[0] == 'en' )
                                        .
                                            More #{title}
                                    else 
                                        .
                                            Mehr #{title}   
            


            <!-- Section 4 -->    
            
            .preview
                .left
                    h2=data.translations_conference[languageParameter].Title
                    .
                        !{data.translations_conference[languageParameter].Lead}
                .right 
                    .eventswrapper
                        each val in [0,1,2]
                            if(data.Events_4[val] !== undefined)
                                if(data.Events_4[val].Events_id.status == 'preview')
                                    a.eventLink
                                        .events
                                            if data.Events_4[val].Events_id.Main_Image == null
                                                .eventimg(style='background-image:url('+imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png)')
                                            else 
                                                - var caption =data.Events_4[val].Events_id.Artist
                                                .eventimg(style='background-image:url('+imgURL+data.Events_4[val].Events_id.Main_Image.filename_disk+'?key=icon)')
                                                    img(src=baseURL+'static/img/grid.svg',alt="Mesh Festival für Kunst und Technologie")
                                                .caption &bull; #{caption}
                                else 
                                    a(href=baseURL+'events/'+data.Events_4[val].Events_id.slug+'/'+language[0], title=data.Events_4[val].Events_id.Artist).eventLink
                                        .events
                                            if data.Events_4[val].Events_id.Main_Image == null
                                                .eventimg(style='background-image:url('+imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png)')
                                            else 
                                                - var caption =data.Events_4[val].Events_id.Artist
                                                .eventimg(style='background-image:url('+imgURL+data.Events_4[val].Events_id.Main_Image.filename_disk+'?key=icon)')
                                                    img(src=baseURL+'static/img/grid.svg',alt="Mesh Festival für Kunst und Technologie")
                                                .caption &bull; #{caption}                                
                        .previewItem 
                            .smallpill
                                - var title =data.translations_conference[languageParameter].Title
                                a(href=baseURL+'pages/'+data.Events_4_Link, title=title)
                                    if(language[0] == 'en' )
                                        .
                                            More #{title}
                                    else 
                                        .
                                            Mehr #{title}   



            <!-- Section 5 -->    
            
            .preview
                .left
                    h2=data.translations_five[languageParameter].Title
                    .
                        !{data.translations_five[languageParameter].Lead}
                .right 
                    .eventswrapper
                        each val in [0,1,2]
                            if(data.Events_5[val] !== undefined)
                                if(data.Events_5[val].Events_id.status == 'preview')
                                    a.eventLink
                                        .events
                                            if data.Events_5[val].Events_id.Main_Image == null
                                                .eventimg(style='background-image:url('+imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png)')
                                            else 
                                                - var caption =data.Events_5[val].Events_id.Artist
                                                .eventimg(style='background-image:url('+imgURL+data.Events_5[val].Events_id.Main_Image.filename_disk+'?key=icon)')
                                                    img(src=baseURL+'static/img/grid.svg',alt="Mesh Festival für Kunst und Technologie")
                                                .caption &bull; #{caption}
                                else 
                                    a(href=baseURL+'events/'+data.Events_5[val].Events_id.slug+'/'+language[0], title=data.Events_5[val].Events_id.Artist).eventLink
                                        .events
                                            if data.Events_5[val].Events_id.Main_Image == null
                                                .eventimg(style='background-image:url('+imgURL+'5a7095f3-d054-4527-8bb8-998de11e6d28.png)')
                                            else 
                                                - var caption =data.Events_5[val].Events_id.Artist
                                                .eventimg(style='background-image:url('+imgURL+data.Events_5[val].Events_id.Main_Image.filename_disk+'?key=icon)')
                                                    img(src=baseURL+'static/img/grid.svg',alt="Mesh Festival für Kunst und Technologie")
                                                .caption &bull; #{caption}                                
                        .previewItem 
                            .smallpill
                                - var title =data.translations_conference[languageParameter].Title
                                a(href=baseURL+'pages/'+data.Events_5_Link, title=title)
                                    if(language[0] == 'en' )
                                        .
                                            More #{title}
                                    else 
                                        .
                                            Mehr #{title}   



        script(src='node_modules/@glidejs/glide/dist/glide.min.js')
        link(rel='stylesheet', type='text/css', href=baseURL+'node_modules/@glidejs/glide/dist/css/glide.core.min.css')
        script(src=baseURL+'static/script/highlights.js')
        include includes/footer.pug