doctype html
html(lang=language[0])
    include includes/head.pug
    body.startpage
        include includes/sitenav.pug
        main
            a#mesh2024.bubble(href="https://2024.meshfestival.ch" target="_blank") Mesh 2024
            a#calltoaction.bubble(href="https://meshfestival.ch/static/html/tickets.html" target="_blank") Tickets


            .columnTitle
                h1 Mesh
                h4 Festival für Kunst und Technologie
                h2
                    | 16.–20.
                    br
                    | Oktober 2026
                h4.place Dreispitz Basel
            .editionTitle
                if data.translations && data.translations.length > 0
                    h2 Edition 2026
                    if(data.translations[languageParameter] === undefined)
                        h1= data.translations[0].Title
                    else
                        h1= data.translations[languageParameter].Title
            .columnVideo.mobile
                video.mobileVideo(data-src="https://johnsonkingston.ch/MESH/Mesh-2026-Querformat-2.mp4",autoplay="true",loop="true",muted="true",playsinline="true",poster="/static/img/mesh-festival-background.jpg")
            .columnTitleBottom
                h2
                    | 16.–20. 
                    span.right Oktober
                    br
                    | 2026
                h4 Festival für Kunst und Technologie
                h3 Dreispitz Basel
            div.column
                div#statementContent.statement.section
                    if data.translations && data.translations.length > 0
                        if(data.translations[languageParameter] === undefined)
                            h1= data.translations[0].Title
                            .content !{data.translations[0].Content}
                        else
                            h1= data.translations[languageParameter].Title
                            .content !{data.translations[languageParameter].Content}

                div

                    .logos
                        span Eine Initiative von
                        div.logobannerOuter
                            div.logobannerInner
                                a(href="https://www.hek.ch",target="_blank")
                                    img(src="/static/img/hek.svg")
                                a(href="https://iart.ch/",target="_blank")
                                    img(src="/static/img/iart.svg")
                                a(href="https://www.fhnw.ch/hgk",target="_blank")
                                    if(language[0] == 'en')
                                        img(src="/static/img/FHNW_HGK_EN.svg")
                                    else
                                        img(src="/static/img/FHNW_HGK_DE.svg")
                        br
                        span Sponsor:innen
                        div.logobannerOuter
                            div.logobannerInner.logobannerInnerSecond
                                a(href="https://www.cms-basel.ch/",target="_blank",title="CMS")
                                    img(src="static/img/cms.svg", alt="Logo CMS").logofooter  
                                a(href="http://www.swisslosfonds.bs.ch/",target="_blank",title="Swisslos BS")
                                    img(src="static/img/swisslos-bs.svg", alt="Logo Swisslos").logofooter  
                                a(href="https://www.baselland.ch/politik-und-behorden/direktionen/sicherheitsdirektion/swisslos-fonds",target="_blank",title="Swisslos BL")
                                    img(src="static/img/swisslos-bl.svg", alt="Logo Swisslos BL").logofooter  
                                a(href="https://www.fondationbotnar.org/",target="_blank",title="Fondation Botnar")
                                    img(src="static/img/botnar.svg", alt="Logo Fondation Botnar").logofooter  
                                a(href="https://www.ernst-goehner-stiftung.ch",target="_blank",title="Ernst Göhner Stiftung")
                                    img(src="static/img/EGS_Schriftzug_2_weiss.svg", alt="Logo EGS").logofooter  
                                a(href="https://www.moench.ch/kultur/kulturkommission/",target="_blank",title="Gemeinde Münchenstein")
                                    img(src="static/img/munchenstein.svg", alt="Logo Gemeinde Münchenstein").logofooter.logofootersquare     
                                a(href="https://engagement.migros.ch/de/kulturprozent",target="_blank",title="Migros Kulturprozent")
                                    img(src="static/img/migros.svg", alt="Logo Migros").logofooter  
                                a(href="https://www.artfoundationpax.ch/stiftung/",target="_blank",title="Art Foundation Pax")
                                    img(src="static/img/art-foundation-pax.svg", alt="Logo Art Foundation Pax").logofooter.logofootersquare             
                                a(href="https://prohelvetia.ch/",target="_blank",title="ProHelvetia")
                                    img(src="static/img/PRH_CD_RGB_white_DE_LOGO.svg", alt="Logo Prohelvetia").logofooter       
                                a(href="https://www.quebec.ca/de/gouvernement/ministeres-organismes/relations-internationales/representations/vertretung-regierung-quebec-munchen/aufgaben-mandate",target="_blank",title="Québec")
                                    img(src="static/img/quebec.svg", alt="Logo Québec").logofooter  
                                a(href="https://ateliermondial.com/",target="_blank",title="Atelier Mondial")
                                    img(src="static/img/AMLOGO_Size0_BLACK_Outline.svg",loading="lazy", alt="Logo Atelier Mondial").logofooter.logofootersquare 
                                a(href="https://www.musik-akademie.ch/klassik/de/projekte-und-ensembles/elektronisches-studio-basel.html",target="_blank",title="Elektronisches Studio Basel")
                                    img(src="static/img/elektronisches-studio-basel.svg", alt="Logo Elektronisches Studio Basel").logofooter.logofooterlang
                                a(href="https://kunsthausbaselland.ch/",target="_blank",title="Kunsthaus Baselland")
                                    img(src="static/img/kunsthaus-baselland.svg", alt="Logo Kunsthaus Baselland").logofooter.logofooterlang  
                                a(href="https://kabinett.com/",target="_blank", title="Kabinett")
                                    img(src="static/img/KABINETT_LOGO_V-1.svg",loading="lazy", alt="Logo Kabinett").logofooter.logofootersquare 
                                a(href="https://www.sfgbasel.ch/",target="_blank",title="SFG")
                                    img(src="static/img/sfg_zentriert.svg",loading="lazy", alt="Logo SFG").logofooter.logofootersquare
                        br
                        br

            script.
                function videoLoad(){
                    $('.mobileVideo').attr('src',$('.mobileVideo').attr('data-src'));
                    $('.mobileVideo').attr('id','mainVideo');

                    var mainVideo = document.getElementById('mainVideo');
                    if (mainVideo) {
                        var resumeVideo = function(){
                            if (document.visibilityState === 'visible' && mainVideo.paused) {
                                mainVideo.play().catch(function(){});
                            }
                        };
                        mainVideo.addEventListener('pause', resumeVideo);
                        document.addEventListener('visibilitychange', resumeVideo);
                    }
                }
                videoLoad();
            include includes/footer.pug



            #cookieNotice.light.display-right(style='display: none;')
                #closeIcon(style='display: none;')
                .title-wrap
                    h4 Cookie Consent
                .content-wrap
                    .msg-wrap
                    p
                        | By continuing to browse this site, you agree to the use of cookies. We use cookies to analyse web traffic.
                        a(href='/static/html/datenschutz.html') Privacy Policy
                    .btn-wrap
                        button.btn-primary(onclick='acceptCookieConsent();') Accept

            script.
                var lang = '!{language[0].toUpperCase()}';
